/* Font-Families*/

@font-face{
	font-family: "GermaniaOne-Regular";
	src: url("GermaniaOne-Regular.ttf")
}

@font-face{
	font-family: "SigmarOne";
	src: url("SigmarOne.ttf")
	
}
/* Font-Families*/



#Commander{
	font-family: SigmarOne;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
	
}

#CommanderLevel{
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background: #999999;
	border: 2px solid;
	border-color: #4C4C4C;
}

