/*Created by Travis Traber 2015 */

/* Font-Families*/

@font-face{
	font-family: "GermaniaOne-Regular";
	src: url("GermaniaOne-Regular.ttf")
}

@font-face{
	font-family: "SigmarOne";
	src: url("SigmarOne.ttf")
	
}
/* Font-Families*/

/* Design and Layout CSS*/

body{
	background:#ccc;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    overflow-y:hidden;
    overflow-x:hidden;
}

html, body{height:100%;}

.container{
	width: 100%;
	height: 100%;
	display: table;
}

div > div{
	display: table-cell;
	
}

.FounderTools{
	width: 30%;
	background: #CDB482; 
	
}


.ConquestMain{
	width: 40%;
	background:#cba
}

.TalentsTraits{
	width: 30%;
	background:#ca8
}
/* Design and Layout CSS*/

/*Founder Tools*/

.Purchaseicon {
	width: 50px;
	height: 50px;
	padding-top: 10%;
	padding-left: 7%;
}

.ItemCaption {
	font-size: 15px;
	padding-left: 7%;
	display: block;
}



.PurchasedIcon {
    width: 50px;
    height: 50px;
    padding-left: 3px;
    padding-right: 3px;
}

.PurchaseFounderTool {
	padding-left: 7%;
}

#FounderToolTip {
	font-size: 15px;
	padding-left: 7%;
	display: block;
	
}

/*Founder Tools*/

/*Section Titles*/

#Resource{
	font-family: SigmarOne;
	font-size: 20px;
	text-align: center;
	vertical-align: center;
	
}

#FoundingToolsTitle {
	font-family: GermaniaOne-Regular;
	font-size: 30px;
	text-align: center;
	vertical-align: center;
}

#TalentTitle {
	font-family: GermaniaOne-Regular;
	font-size: 30px;
	text-align: center;
	vertical-align: center;
	
}

#MainTitle {
	font-family: GermaniaOne-Regular;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

/*Section Titles*/

/*Resources*/


#TotalLand {
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background: #CDC6C6;
	border: 1px solid;
	border-color: #CC9999;
}

#TotalWar {
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background: #CDC6C6;
	border: 1px solid;
	border-color: #CC9999;
}

#TotalEconomy {
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background: #CDC6C6;
	border: 1px solid;
	border-color: #CC9999;
}

#SM {
	font-family: SigmarOne;
	font-size: 15px;
	text-align: center;
	vertical-align: center;
}

#SystemMessage {
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	background: #CAC4B8;
	border: 1px solid;
	border-color: #CC9999;
}
/*Resources*/

.tabs {
  position: relative;   
  min-height: 500px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  vertical-align:center;
}
.tab [type=radio] {
  display: none;   
  vertical-align:center;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
  vertical-align:center;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  vertical-align:center;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  vertical-align:center;
}

